/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Of Reset */

/* Font Family */

@font-face {
  font-family: bebasneue;
  src: url(fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: dexMedium;
  src: url(fonts/Dax\ Medium.ttf);
}
@font-face {
  font-family: dexRegular;
  src: url(fonts/Dax\ Regular.ttf);
}
/* End of Font Family */

.container {
  display: flex;
  position: relative;
  min-height: 162.5px;
  align-items: center;
  justify-content: start;
  margin-right: 0px;
  width: 1920px;
}
.logo {
  width: 207px;
  height: 278px;
  margin-top: 55px;
  margin-left: 36px;
  margin-right: 36px;
}

.menuPart {
  justify-content: end;
  margin-bottom: 3px;
}
.leftPart {
  display: flex;
}
.end1 {
  min-width: 37px;
  min-height: 48px;
  background-color: #7bcadb;
}
.end2 {
  min-width: 65px;
  min-height: 48px;
  background-color: #7c6e66;
}
.menuPart {
  display: flex;
  margin-left: 36px;
  min-width: 1500px;
  background-color: #7c6e66;
  margin-right: 0px;
}
.menuBrownPart {
  min-width: 1399px;
  min-height: 48px;
  background-color: #7c6e66;
  display: flex;
  align-items: center;
  justify-content: end;
}
.menuBluePart {
  min-width: 140px;
  min-height: 48px;
  background-color: #7bcadb;
  min-width: 140px;
}
a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-family: bebasneue;
  font-size: 27px;
  letter-spacing: 2px;
}
.impressum {
  margin-right: 330px;
}
a:hover {
  background-color: #7bcadb;
}

/* Middle Part CSS  */
.firstHeaderText {
  font-family: bebasneue;
  color: #7bcadb;
  font-size: 127px;
}
.secondHeaderText {
  font-family: bebasneue;
  color: #7bcadb;
  font-size: 67px;
  margin-top: 20px;
}

.firstmainText {
  font-family: dexRegular;
  font-size: 40px;
  color: #7c6e66;
  line-height: 1.1;
}
.secondmainText {
  font-family: dexRegular;
  font-size: 40px;
  color: #7c6e66;
  margin-top: 20px;
  line-height: 1.1;
}

.textMiddle {
  position: absolute;
  top: 410px;
  left: 130px;
}

.imageMiddle {
  padding-top: 30px;
}
.thirdPart {
  margin-top: 140px;
  display: flex;
  align-items: center;
  font-family: bebasneue;
  font-size: 62px;
  color: #7c6e66;
  letter-spacing: 2px;
}
.fachrichtung {
  margin-left: 22px;
}

.imgFlex {
  display: flex;
}

.firstLineImageGroup{
    size:30px ;
    justify-content: space-between;
    margin-right: 110px;
    margin-left: 117px;
padding-top: 100px;
}

.img{
  
    object-fit: contain;
    height: 626px;
}
.img2{
    padding-top: 130px;
}
